html, body {
  height: 100px;
  min-height: 100%;
}

body {
  background: white;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

#introduction {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  background: url(./images/weimea.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-1 {
  color: white;
  font-size: 2.5em;
}

.logo-wrapper {
    text-align: right;
    padding-right: 3%;
    font-size: 1.3em;
    color: white;
  }

.linkedin {
    width: 3%;
    height: auto; 
}

.title-1 {
  position: absolute;
}

.navigation {
    font-size: .65em;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

.navigation > li {
    display: inline;
    padding-left: 2em;
}

.navigation li a {
    color: white;
    text-decoration: unset;
}

.column {
    float: left;
    width: 40%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#about-me {
    height: 400px;
}

#projects{
    height: 200px;
    background-color: #E8EAEC;
}